# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.22.1
pydantic==2.10.6
pydantic-settings==2.7.1
# Azure SWA builder's pydantic version is up to 2.10.6 as of 2025-04-03
langchain==0.3.22
langchain-community==0.3.20
azure-identity==1.19.0
azure-search-documents==11.4.0
chromadb==0.6.3
litellm==1.56.6
# sentence-transformers==4.0.1
# langchain-chroma==0.2.2
